
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1 {
  color: #333;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
    background-color: white;
    /* Dark background color */
    color: black ;
    /* Light text color */
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    /* Add some padding for better spacing */
  }
  
  .nav_container {
    width: 90%;
    /* Center the content */
    margin: 0 auto;
    /* Center the content */
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    /* Distribute items horizontally */
    align-items: center;
    /* Center items vertically */
  }
  
  .logo img {
    width: 100px;
    /* Adjust logo size as needed */
  }
  
  .navlinks {
    list-style: none;
    /* Remove bullet points */
    display: flex;
  }
  
  .navlinks li {
    margin-right: 20px;
    cursor: pointer;
    /* Add some spacing between nav items */
  }
  
  .navlinks a {
    text-decoration: none;
    /* Remove underline from links */
    color: black;
    /* Light text color */
  }
  
  .ctabtn {
    text-decoration: none;
    background-color: #f1356d;
    /* Pink background color */
    color: #fff;
    /* Light text color */
    padding: 10px 20px;
    /* Add some padding */
    border-radius: 5px;
    margin: 0 5px 0 0;
    /* Add rounded corners */
  }
  
  .ctabtn:hover {
    background-color: #d32f52;
    /* Darker pink on hover */
  }
  
p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}


.section {
    margin-bottom: 30px;
}

.section-title {
    color: #333;
    margin-bottom: 10px;
}

.section-content {
    padding-left: 20px;
}

.section-content h3 {
    color: #666;
    margin-bottom: 10px;
}

.section-content ul {
    list-style-type: none;
    padding: 0;
}

.section-content ul li {
    color: #888;
    margin-bottom: 5px;
}


.footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-nav {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-nav li {
    display: inline;
    margin-right: 10px;
}

.footer-nav li a {
    color: #666;
    text-decoration: none;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.footerText {
    color: #888;
    font-size: 14px;
}

